html,
body,
#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}

/* menu组件样式 */
.el-menu {
  padding: 0 !important;
  margin: 0 !important;
}
.el-submenu__title {
  color: #909399;
  text-align: left !important;
  padding: 5px!important;
  margin: 0;
  height: 40px;
  line-height: 30px;
}
.el-submenu .el-menu-item-group__title{
  height: 0;
}
.el-menu-item-group__title {
  padding-left: 5px !important;
  padding: 0 0 0 0;
  line-height: 40px;
  height: 40px;
}
.el-menu-item-group {
  text-align: left;
  padding: 0 !important;
  margin: 0 !important;
  text-overflow: ellipsis!important;
}
.el-menu-item {
  padding-left: 15px !important;
  padding-right: 15px!important;
  height: 35px !important;
  line-height: 35px !important;
  width: 180px!important;
  text-overflow: ellipsis!important;
}

/* 发现页tab栏样式 */
.el-tabs__active-bar {
  background-color: rgb(236, 65, 65);
}
.el-tabs__item.is-active{
  color: black;
  font-weight: 800;
  font-size: 17px;
}

/* 滚动条 */
.el-slider__bar {
  background-color: rgb(236, 65, 65) ;
}
.el-slider__button{
  border: rgb(236, 65, 65);
}

/* 轮播图 */
.el-carousel__item--card.is-in-stage img {
  width: 100% !important;
  height: 100%;
}

/* 消除歌曲列表出现空白的bug */
.el-row {
  display: flex;
  flex-wrap: wrap;
}

/* 按钮 */
.el-button:focus, .el-button:hover{
  color: rgb(236, 65, 65);
}
.el-button {
  padding: 8px 18px;
  vertical-align: middle;
}
.el-button [class*="el-icon-"] + span {
  margin: 0;
}
.el-icon-folder-add:before,
.el-icon-caret-right:before{
  font-size: 20px;
  vertical-align: middle;
}
.videoRight .el-icon-caret-right:before{
  font-size: 15px;
  vertical-align: middle;
}
.el-icon-folder-add:before {
  margin-right: 5px;
}
.topandbottomPadding12 .el-icon-folder-add:before{

  font-size: 15px;
}
.addList[data-v-223a95da]{
  margin: 0;
}

/* el-table强制不换行并用省略号代替 */
.el-table .cell{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.el-progress-bar__outer {
  margin-top: 4px ;
}

